.metrics {
    display: flex;
    padding: 0 112px 96px;
    gap: 64px;
}

.metrics__item {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.metrics__item h1 {
    color: var(--font-color-contrast);
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -.02em;
}

.metrics__item h3 {
    color: var(--font-color-principal);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.metrics__item p {
    color: var(--font-color-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}